<ul class="award-list">
  <li class="award-item">
    <span class="award-item__name">NSERC Canada Graduate Research Scholarship &ndash; Doctoral (CGRS D)</span>
    <span class="award-item__date">2025</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">Princeton University First-Year Fellowship in the Natural Sciences and Engineering</span>
    <span class="award-item__date">2024</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">Fonds de recherche du Québec &ndash; Nature et technologies (FRQNT)</span>
    <span class="award-item__date">2023</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">NSERC Undergraduate Student Research Award, McGill University</span>
    <span class="award-item__date">2023</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">Québec Perspective Scholarship (PBPQ), Government of Quebec</span>
    <span class="award-item__date">2022</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">Member, Golden Key International Honour Society, McGill University</span>
    <span class="award-item__date">2021</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">McGill Faculty of Science Scholarship, McGill University</span>
    <span class="award-item__date">2021</span>
  </li>
  <li class="award-item">
    <span class="award-item__name">Member, McGill Dean&rsquo;s Honour List, McGill University</span>
    <span class="award-item__date">2021</span>
  </li>
</ul>
