<div class="pub-list">

  <div class="pub-item">
    <p class="pub-item__title">Turnstile: Hybrid Information Flow Control Framework for Managing Privacy in Internet-of-Things Applications <span class="pub-item__paper-link">(<i class="fas fa-file-alt" aria-hidden="true"></i> <a href="https://dl.acm.org/doi/pdf/10.1145/3767295.3769352">Paper</a>)</span></p>
    <p class="pub-item__authors">Kumseok Jung, Mohanna Shahrad, Gargi Mitra, Karthik Pattabiraman</p>
    <p class="pub-item__venue">European Conference on Computer Systems (EuroSys'26)</p>
  </div>

  <div class="pub-item">
    <p class="pub-item__title">G-view: View Management for Graph Databases <span class="pub-item__paper-link">(<i class="fas fa-file-alt" aria-hidden="true"></i> <a href="https://www.vldb.org/pvldb/vol18/p1730-zheng.pdf">Paper</a>)</span></p>
    <p class="pub-item__authors">Yunjia Zheng, Camille Sacré, Mohanna Shahrad, Oliver Lipchitz, You Ting Gu, Bettina Kemme</p>
    <p class="pub-item__venue">International Conference on Very Large Data Bases (VLDB'25)</p>
  </div>

  <div class="pub-item">
    <p class="pub-item__title">Towards View Management in Graph Databases <span class="pub-item__paper-link">(<i class="fas fa-file-alt" aria-hidden="true"></i> <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10555088">Paper</a>)</span></p>
    <p class="pub-item__authors">Mohanna Shahrad, You Ting Gu, Yunjia Zheng, Bettina Kemme</p>
    <p class="pub-item__venue">International Workshop on Search, Exploration, and Analysis in Heterogeneous Datastores: Graph Edition (SEAGraph'24), Co-located with ICDE'24</p>
  </div>

  <div class="pub-item">
    <p class="pub-item__title">UnFaaSener: Latency and Cost Aware Offloading of Functions from Serverless Platforms <span class="pub-item__paper-link">(<i class="fas fa-file-alt" aria-hidden="true"></i> <a href="https://www.usenix.org/system/files/atc23-sadeghian.pdf">Paper</a>)</span></p>
    <p class="pub-item__authors">Ghazal Sadeghian, Mohamed Elsakhawy, Mohanna Shahrad, Joe Hattori, Mohammad Shahrad</p>
    <p class="pub-item__venue">USENIX Annual Technical Conference (ATC'23)</p>
  </div>

</div>
